* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #FF69B4; 
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    width: 150px; /* Ajuste o tamanho da sua logomarca */
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 40px 20px;
    text-align: center;
}

#portfolio .portfolio-links a {
    display: block;
    margin: 10px 0;
    color: #FF69B4;
    text-decoration: none;
    font-size: 18px;
}

#portfolio .portfolio-links a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
